<html lang="en">
    <head>
    {% load static menu%}
    <link href="{% static 'css/bootstrap.min.css'%}" rel="stylesheet"/>
        <title>
            PI-cloud {% block title%}{% endblock %}
        </title>
    </head>
    <body>
    <script src="{% static 'js/jquery-3.3.1.min.js'%}" ></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>

    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="#">
                <img src="{% static 'images/logo.png' %}" height="30" alt="PI Cloud">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                {% menu user perms as m %}
                <ul class="navbar-nav">
            {% for i in m %}

                    <li class="nav-item active">
                        <a class="nav-link" href="{{i.link}}">{{i.item}}</a>
                    </li>
            {% endfor %}
                </ul>
            </div>
        </nav>

        {% block content %}
        {% endblock %}

    </div>
    </body>
</html>